# FastAPI and Server
fastapi
uvicorn[standard]
#db_utils

# Jira Integration
jira

# Data Processing and Plotting
pandas
plotly
python-dotenv
SQLAlchemy

# PostgreSQL Database Driver
psycopg2-binary

# Date parsing utility
python-dateutil


# --- LDAP Integration ---
ldap3